* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #ced3db;
}

#header {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-content: center; */
  background-color: black;
  position: relative;
}

/* TODO: Set the logo Flex  */

.logo {
  position: absolute;
  top: 0;
  /* right: 5px;
  /* align-self: flex-start; */
  color: #fff;
  margin: 15px 0 0 20px;
  text-decoration: none;
  font-weight: bold;
}

.logo:hover {
  border-bottom: 5px solid #05662f;
  transition: all .3s;
}

.main-nav__list {
  display: flex;
  flex-flow: row wrap;
  /* align-content: center; */
  justify-content: flex-end;
  align-content: center;
}

.main-nav__item {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 10px;
  align-self: center;
}

.main-nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.main-nav__link:hover {
  border-bottom: 5px solid #05662f;
  color: #efefef83;
  transition: all .3s;
}

.section-intro {
  background-image: url(img/gar-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 600px;
  opacity: 0.6;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
}

.section-intro__title {
  text-align: center;
  /* margin: 40px; */
  color: black;
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px #05662f;
  padding: 10px;
  font-weight: bolder;
  font-size: 23px;
}

.section-intro__text {
  text-align: center;
  color: black;
  text-shadow: 2px 2px 2px #05662f;
  margin-top: 40px;
  padding: 10px;
  font-size: 23px;
  font-weight: bolder;
}

.container {
  background-image: url(img/gar-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 600px;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-overzicht__titel {
  /* align-self: flex-start; */
  color: black;
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px #05662f;
  padding: 10px;
  font-weight: bolder;
  font-size: 30px;
}

.section-overzicht__tekst {
  /* align-self: center; */
  color: black;
  text-shadow: 2px 2px 2px #05662f;
  padding: 10px;
  font-weight: bolder;
  font-size: 30px;
}

.section-overzicht__item {
  list-style: none;
  padding: 20px;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 2px 2px #05662f;
}

.section-custom {
  background-image: url(img/gar-3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 600px;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-custom__titel {
  color: black;
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px #05662f;
  padding: 10px;
  font-weight: bolder;
  font-size: 30px;
}

.section-custom__item {
  list-style: none;
  padding: 20px;
  font-weight: bolder;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  text-shadow: 2px 2px 2px #05662f;
}

/* OVER ONS */

.over-ons {
  background: linear-gradient(to right, rgba(153, 157, 163, 0), rgba(75, 77, 81, 1));
  opacity: 0.5;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(1, 1fr); */
  /* justify-content: center; */
  grid-gap: 30px;
}

.over-ons__titel {
  color: #f9fbff;
  border-bottom: 2px solid #fff;
  text-shadow: 2px 2px 2px #8a8c91;
  padding: 10px;
  font-weight: bolder;
  font-size: 30px;
  grid-column: 1 / -1;
  align-self: center;
  justify-self: center;
}

.over-ons__quote {
  color: #f9fbff;
  text-shadow: 2px 2px 2px #8a8c91;
  padding: 10px;
  font-weight: bolder;
  font-size: 18px;
  grid-row: 2;
}

.fas {
  font-size: 7px;
  position: absolute;
  color: #f9fbff;
  /* top: 0;
  left: 0; */
}

.main-footer {
  background-color: black;
  color: #fff;
  padding: 5px;
  /* text-align: center; */
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
}

.main-footer__form {
  align-self: center;
  justify-self: center;
}

.main-footer__input {
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-radius: 30px;
  align-self: center;
  justify-self: center;
}

.main-footer__btn {
  display: block;
  width: 40%;
  padding: 10px;
  border-radius: 30px;
  align-self: center;
  justify-self: center;
}